<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/a9716151-dff2-4255-806b-f8f898abf5e6/resourceGroups/RG-LicenseManager/providers/Microsoft.ApiManagement/service/LicenseManagerAPIManSer/apis/LicenseManager</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/a9716151-dff2-4255-806b-f8f898abf5e6/resourcegroups/RG-LicenseManager/providers/Microsoft.Web/sites/LicenseManagerAppService</ResourceId>
    <ResourceGroup>RG-LicenseManager</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://licensemanagerappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1a2cd34d-4ff1-40c1-923e-326ae5a3de32</ProjectGuid>
    <PublishUrl>https://licensemanagerappservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$LicenseManagerAppService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>